<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prajna.leave">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity"
            android:noHistory="true"></activity>
        <activity android:name=".AdminMainActivity"
            android:noHistory="true"
            ></activity>
        <activity android:name=".ApplyLeaveActivity"
            android:noHistory="true"
            ></activity>
        <activity android:name=".EmployeeLoginActivity"
            android:noHistory="true"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".UpdateLeaveActivity"></activity>
        <activity android:name=".LeaveSummaryActivity"
            android:noHistory="true"
            ></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".AdminView"
            android:noHistory="true"
            ></activity>
        <activity android:name=".UpdateEmployeeLeaveActivity"
            android:noHistory="true"
            ></activity>
        <activity android:name=".AdminViewHoliday"
            android:noHistory="true"
            ></activity>
        <activity android:name=".EmployeeViewHoliday"
            android:noHistory="true"
            ></activity>
        <activity android:name=".HolidayEntry"
            android:noHistory="true"
            ></activity>
    </application>

</manifest>


    <!--android:windowSoftInputMode="stateHidden">--><!--android:alwaysRetainTaskState="true">-->
